<app-auth></app-auth>
<h1>La liste de vos villes favorites</h1>
<div class="row">
    <ul class="list-group col-lg-8">
        <li class="list-group-item"
          *ngFor="let item of villeFav">
            {{item}}
        </li>
    </ul>
</div>
<br>
<div class="row">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput #message maxlength="256" placeholder="Ville" [(ngModel)]="ville" name="ville">
          <mat-hint align="start"><strong>Entrez une ville</strong> </mat-hint>
        </mat-form-field>
            <button mat-raised-button color="primary" (click) = "onSubmit(ville)">Rechercher</button>
      </form>
</div>
<div class="row">

</div>
<app-message></app-message>
<div class="row" *ngIf="meteo">
  <app-meteo-ville [dataWeather]="meteo"></app-meteo-ville>
</div>
